{% extends 'base.html.twig' %}

{% block body %}

    <div class="battle-details battle-played">
        <div class="container">
            <div class="myTeams-container row text-center">
                <a href="{{ path('battle.detail', {'battleId': battleId}) }}">Back</a>
                {% if roundResult is not empty %}
                    <div class="col-md-12 text-center">
                        <span class="badge badge-default">Round Score</span><span class="badge badge-warning">{{ roundResult.score }}</span>
                        <span class="badge badge-default">Battle Score</span><span class="badge badge-danger">{{ roundResult.battleScore }}</span>
                    </div>
                    <hr>
                {% endif %}
                <div class="col-md-2"></div>
                {% if offPlayers | length > 0 %}
                    <div class="col-md-4 offensive">
                        <h4>OFFENSIVE PLAY BY</h4>
                        <p class="badge badge-dark">{{ attacker.username }}</p>
                        {% for player in offPlayers %}
                        {% include 'starting5/players/player.html.twig' with {'player': player.playerId} %}
                        <div class="badge badge-light badge-rating">
                         <img src="{{ asset('images/sword.png') }}" alt="">
                           <span>
                                : {{ player.playerId.offensiveRating }}
                               {% if player.bonus >= 0 %}
                                   + {{ player.bonus }}
                               {% else %}
                                   {{ player.bonus }}
                               {% endif %}
                           </span>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="bg-danger played-warning">
                        <i class="fas fa-exclamation-circle"></i> {{ attacker.username }} hasn't played yet !
                    </div>
                {% endif %}
                {% if defPlayers | length > 0 %}
                <div class="col-md-4 defensive">
                    <h4>DEFENSIVE PLAY BY</h4>
                    <p class="badge badge-dark">{{ defender.username }}</p>
                            {% for player in defPlayers %}
                                {% include 'starting5/players/player.html.twig' with { 'player': player.playerId } %}
                                <div class="badge badge-light badge-rating">
                                    <i class="fas fa-shield-alt"></i>
                                    <span>
                                  : {{ player.playerId.defensiveRating }}
                                        {% if player.bonus >= 0 %}
                                            + {{ player.bonus }}
                                        {% else %}
                                            {{ player.bonus }}
                                        {% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                </div>
                {% else %}
                    <div class="bg-danger played-warning">
                        <i class="fas fa-exclamation-circle"></i> {{ defender.username }} hasn't played yet !
                    </div>
                    </div>
                {% endif %}
            <div class="col-md-2"></div>
        </div>
        </div>

{% endblock %}