<div>
    <div>
        <img src="{{ asset('images/teams/' ~ battle.playerTwoId.team.teamId ~ '.svg') }}" width="70" alt="">
        {{ battle.playerTwoId.username }}
        {{ battle.playerTwoScore }}

        -

        {{ battle.playerOneScore }}
        {{ battle.playerOneId.username }}
        <img src="{{ asset('images/teams/' ~ battle.playerOneId.team.teamId ~ '.svg') }}" width="70" alt="">
        <div class="text-center battle-status">
        {% if battle.active and battle.isAccepted %}
            <span class="badge badge-pill badge-success">LIVE</span>
        {% elseif battle.isAccepted == false and battle.isDeclined == false and app.user == battle.playerTwoId %}
            <button class="btn btn-success" id="accept-battle" data-battle-id="{{ battle.id }}">ACCEPT</button>
            <button class="btn btn-danger" id="decline-battle" data-battle-id="{{ battle.id }}">DECLINE</button>
            <script type="text/javascript">
                loading = $('#loading');
                $('#accept-battle').click(function () {
                    $.ajax({
                        url: '{{ path('battle.accept') }}',
                        type: 'POST',
                        data: 'battleId=' + $(this).attr('data-battle-id'),
                        beforeSend: function () {
                            loading.show();
                        },
                        complete: function () {
                            loading.hide();
                        },
                        success: function (success) {
                            location.reload();
                        }
                    });
                });

                $('#decline-battle').click(function () {
                    $.ajax({
                        url: '{{ path('battle.decline') }}',
                        type: 'POST',
                        data: 'battleId=' + $(this).attr('data-battle-id'),
                        beforeSend: function () {
                            loading.show();
                        },
                        complete: function () {
                            loading.hide();
                        },
                        success: function (success) {
                            location.reload();
                        }
                    });
                });
            </script>
            {% elseif battle.isAccepted == false and battle.isDeclined == true and app.user == battle.playerTwoId %}
            <span class="badge badge-pill badge-danger">You decline the battle</span>
            {% elseif battle.isAccepted == false and battle.isDeclined == false and app.user == battle.playerOneId %}
            <span class="badge badge-pill badge-danger">WAITING</span>
            {% elseif battle.isAccepted == false and battle.isDeclined == true and app.user == battle.playerOneId %}
            <span class="badge badge-pill badge-danger">Battle declined</span>
        {% else %}
            {% if battle.winnerUserId %}
            <span class="badge badge-pill badge-success">WON BY {{ battle.winnerUserId.username }}</span>
            {% endif %}
            <span class="badge badge-pill badge-secondary">OVER</span>
        {% endif %}
    </div>
        <div class="text-center">
            <a href="{{ path('battle.detail', {'battleId': battle.id}) }}" class="btn btn-outline-dark">Detail</a>
        </div>
    </div>
</div>