<div class="myTeams-container">
    {% if(team) %}
    <h2 class="title">{{ team.name }}</h2>
        <div class="details-grid">
            <div class="item"><p class="text">Entraîneur</p><i class="far fa-user"></i><span class="text">{{ team.trainerId.fullName }}</span></div>
            <div class="item border-left-right"><p class="text">Stade</p><img src="{{ asset('images/stadium.png') }}" alt=""><span class="text">{{ team.stadiumId.name }}</span></div>
            <div class="item "><p class="text">Rating global</p><i class="far fa-star"></i> <span class="text">{{ team.teamRating }}</span></div>
            <div class="item border-left-right"><p class="text">Rating offensive</p><img src="{{ asset('images/sword.png') }}" alt=""><span class="text">{{ team.offRating }}</span></div>
            <div class="item"><p class="text">Rating defensive</p><i class="fas fa-shield-alt"></i><span class="text">{{ team.defRating }}</span></div>
        </div>
    <div class="d-flex-players">

            {% set player = team.pointGuard %}
            {% include 'starting5/players/player.html.twig' with {'player': player} %}

            {% set player = team.shootingGuard %}
            {% include 'starting5/players/player.html.twig' with {'player': player} %}

            {% set player = team.smallForward %}
            {% include 'starting5/players/player.html.twig' with {'player': player} %}

            {% set player = team.powerForward %}
            {% include 'starting5/players/player.html.twig' with {'player': player} %}

            {% set player = team.center %}
            {% include 'starting5/players/player.html.twig' with {'player': player} %}

    </div>
        {% else %}
            <div class="bg-danger played-warning">
                <i class="fas fa-exclamation-circle"></i> You have no active TEAM !
            </div>
    {% endif %}
</div>