<div>
    <h2>
        Play #{{ round.round }}
        {% if round.done == NULL and round.round == activeRound %}
            <a href="{{ path('round.detail', {'battleId' : battle.id, 'roundId' : round.id}) }}" class="btn btn-success">PLAY</a>
        {% else %}
            <a href="{{ path('round.detail', {'battleId' : battle.id, 'roundId' : round.id}) }}" class="btn btn-primary">OVER</a>
        {% endif %}
    </h2>
    {% if round.done == true %}
        <h4>Score: {{ round.attackerId.username }} {{ round.attackerPoints }} - {{ round.defenderPoints }} {{ round.defenderId.username }}</h4>
    {% else %}
        <h4>Score: NaN</h4>
    {% endif %}
</div>
<hr>