<div class="input-player selected {% if player.rating < 80 %}low{% endif %}" id="player-{{ player.playerId }}">
    <div class="triangle-top"></div>
    <div class="portrait">
        <div class="description">
            <div class="top-left">
                <span class="rating">{{ player.rating }}</span>
                <span class="position">{{ player.position }}</span>
            </div>
            <div>
                <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{{ player.playerId }}.png"
                     alt="{{ player.teamId.teamId }}">
            </div>
            <div class="bottom">
                <div>
                    <p class="name">{{ player.firstname }} {{ player.lastname }}</p>
                    <p class="posi">{{ player.position }}</p>
                </div>
                <div>
                    <ul class="list-stats">
                        <li>
                            ATQ : <b>{{ player.offensiveRating }}</b>
                        </li>
                        <li>
                            DEF : <b>{{ player.defensiveRating }}</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-bottom"></div>
</div>