<div class="wow fadeInUp" id="player-{{ player.playerId }}">
    <div class="text-center">
        <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{{ player.playerId }}.png" alt="{{ player.teamId.teamId }}"
             width="100px">
    </div>
    <p class="text-center">
        {% if player.rating > '84' and player.rating <= '87' %} R
        {% elseif player.rating > '87' and player.rating <= '90' %} SR
        {% elseif player.rating > '90' and player.rating <= '95' %} UR
        {% elseif player.rating > '95' %} E
        {% else %} N
        {% endif %}
        <br>
        {{ player.firstname }} {{ player.lastname }}
        <br>
        {{ player.position }} -
        {% if(player.rating == 'O') %} RKIE
        {% else %} {{ player.rating }}
        {% endif %}
        <img src="{{ asset('images/teams/' ~ player.teamId.teamId ~ '.svg') }}" alt="{{ player.teamId.teamId }}"
             width="50px">
    </p>
</div>