<div class="text-center">
    <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{{ player.personId }}.png" alt="{{ player.teamId }}"
         width="100px">
</div>
<p class="text-center">
    {{ player['firstName'] }} {{ player['lastName'] }} - {{ player['pos'] }} - {{ player['rating'] }}
    <img src="{{ asset('images/teams/' ~ player.teamId ~ '.svg') }}" alt="{{ player.teamId }}"
         width="50px">
</p>