<div {% if app.user.quizPoints > price %} id="shop-player-{{ player.playerId }}" {% endif %}>
    <div id="player-{{ player.playerId }}">
        <div class="text-center">
            <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{{ player.playerId }}.png"
                 alt="{{ player.teamId.teamId }}"
                 width="100px"
                 class="wow fadeInUp">
        </div>
        <p class="text-center" class="wow fadeInDown">
            {{ player.rarity }}
            <br>
            <span class="wow fadeInUp">
            {{ player.firstname }} {{ player.lastname }}
        </span>
            <br>
            <span class="wow fadeInDown">
            {{ player.position }} -
                {{ player.rating }}
        </span>
            <img src="{{ asset('images/teams/' ~ player.teamId.teamId ~ '.svg') }}"
                 alt="{{ player.teamId.teamId }}"
                 width="50px"
                 class="wow fadeInUp">
            <br>
            <span class="text-center">OFF {{ player.offensiveRating }} - DEF {{ player.defensiveRating }}</p>
        </p>
    </div>
    <div class="text-center wow fadeInDown">
        {% if(isMyPlayer) %}
            {% if app.user.quizPoints >= price %}
                <button class="btn btn-primary" id="shop-{{ player.id }}">{{ price }}$</button>
                {% else %}
                <button class="btn btn-danger" disabled>{{ price }}$</button>
            {% endif %}
        {% else %}
            <button class="btn btn-success" disabled>Packed</button>
        {% endif %}
    </div>
    <script type="text/javascript">
        var loading = $('.loading');
        $("#shop-{{ player.id }}").click(function () {
            $.ajax({
                url: '{{ path('shopPlayers.buy') }}',
                type: 'POST',
                data: 'playerId=' + {{ player.id }},
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $("#shop-player-{{ player.playerId }}").empty();
                    $("#user_points").empty();
                    $("#lastPlayers").empty();
                    $("#countMyPlayers").empty();
                    $("#countMyPlayers").append(success.countMyPlayers);
                    $("#lastPlayers").append(success.lastPlayers);
                    $("#user_points").append(success.points);
                    $("#shop-player-{{ player.playerId }}").append(success.shopPlayer);
                }
            });
        });
    </script>
</div>