<div {% if app.user.quizPoints > price %} id="shop-player-{{ player.playerId }}" {% endif %}>
<div class="input-player wow fadeInUp selected {% if player.rating < 80 %}low{% endif %}" id="player-{{ player.playerId }}">
    <div class="triangle-top"></div>
    <div class="portrait">
        <div class="description">
            <div class="top-left">
                <span class="rating">{{ player.rating }}</span>
                <span>
                    <img src="{{ asset('images/teams/' ~ player.teamId.teamId ~ '.svg') }}"
                         alt="{{ player.teamId.teamId }}"
                         class="playerTeam">
                </span>
            </div>
            <div>
                <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{{ player.playerId }}.png"
                     alt="{{ player.teamId.teamId }}">
            </div>
            <div class="bottom">
                <div>
                    <p class="name">{{ player.firstname }} {{ player.lastname }}</p>
                    <p class="posi">{{ player.position }}</p>
                </div>
                <div>
                    <ul class="list-stats">
                        <li>
                            ATQ : <b>{{ player.offensiveRating }}</b>
                        </li>
                        <li>
                            DEF : <b>{{ player.defensiveRating }}</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-bottom"></div>
</div>
<div class="text-center wow fadeInDown">
    {% if(isMyPlayer) %}
        {% if app.user.quizPoints >= price %}
            <button class="btn btn-primary" id="shop-{{ player.id }}">{{ price }}$</button>
        {% else %}
            <button class="btn btn-danger" disabled>{{ price }}$</button>
        {% endif %}
    {% else %}
        <button class="btn btn-success" disabled>Packed</button>
    {% endif %}
</div>
    <script type="text/javascript">
        var loading = $('.loading');
        $("#shop-{{ player.id }}").click(function () {
            $.ajax({
                url: '{{ path('shopPlayers.buy') }}',
                type: 'POST',
                data: 'playerId=' + {{ player.id }},
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $("#shop-player-{{ player.playerId }}").empty();
                    $("#user_points").empty();
                    $("#lastPlayers").empty();
                    $("#countMyPlayers").empty();
                    $("#countMyPlayers").append(success.countMyPlayers);
                    $("#lastPlayers").append(success.lastPlayers);
                    $("#user_points").append(success.points);
                    $("#shop-player-{{ player.playerId }}").append(success.shopPlayer);
                }
            });
        });
    </script>
</div>