{% extends 'base.html.twig' %}

    {% block header %}
        <h1>Mon 5 Majeur</h1>
    {% endblock header %}

{% block body %}
    <section id="about">
        <div class="container">
            <h1>
                All My Players
                <span>
                <a href="{{ path('user.players.guard') }}" class="btn btn-primary">Guards</a>
                <a href="{{ path('user.players.forward') }}" class="btn btn-info">Forwards</a>
                <a href="{{ path('user.players.center') }}" class="btn btn-danger">Centers</a>
                </span>
            </h1>
            <div class="row myPlayers">
                {{ render(controller('AppBundle:MyPlayers:players')) }}
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination">
                        <button class="btn btn-info" id="previous-page">Previous</button>
                        &nbsp
                        <button class="btn btn-info" id="next-page">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var currentPage = 0;
        var previousPage = $("#previous-page");
        var loading = $('.loading');
        var allPlayers = {{ count }};
        var nextPage = $('#next-page');

        previousPage.prop("disabled", true);

        nextPage.click(function () {
            currentPage = currentPage + 1;
            previousPage.prop("disabled", false);
            if(currentPage > allPlayers) {
                nextPage.prop("disabled", true);
            }
            $.ajax({
                url: '{{ path('players.next') }}',
                type: 'POST',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').append(success);
                }
            });
        });
        previousPage.click(function () {
            currentPage = currentPage - 1;
            if (currentPage == 0) {
                previousPage.prop("disabled", true);
            }
            nextPage.prop("disabled", false);
            $.ajax({
                url: '{{ path('players.previous') }}',
                type: 'POST',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').empty().append(success);
                }
            });
        });
    </script>

    <script>
        is_processing = false;
        last_page = false;
        var currentPage = 0;
        function addMoreElements() {
            currentPage = currentPage + 1;
            is_processing = true;
            $.ajax({
                type: "POST",
                //FOS Routing
                url: '{{ path('players.next') }}',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function(data) {
                    $('.myPlayers').append(data);
                    is_processing = false;
                    if(currentPage * 9 > {{ count }}) {
                        last_page = true;
                    }
                }
            });
        }

        $(window).scroll(function() {
            var wintop = $(window).scrollTop(), docheight = $(document).height(), winheight = $(window).height();
            //Modify this parameter to establish how far down do you want to make the ajax call
            var scrolltrigger = 1;
            if ((wintop / (docheight - winheight)) >= scrolltrigger) {
                //I added the is_processing variable to keep the ajax asynchronous but avoiding making the same call multiple times
                if (last_page === false && is_processing === false) {
                    addMoreElements();
                }
            }
        });
    </script>
{% endblock %}