{% extends 'base.html.twig' %}

    {% block header %}
        Mon 5 Majeur
    {% endblock header %}

{% block body %}
        <div class="container">
            <div class="col-lg-12 mx-auto all-players myTeams-container">
                <h1 class="title">
                    All My Players
                </h1>
                <div class="col-md-12 text-center mb-4">
                    <a href="{{ path('user.players.guard') }}" class="btn btn-primary">Guards</a>
                    <a href="{{ path('user.players.forward') }}" class="btn btn-info">Forwards</a>
                    <a href="{{ path('user.players.center') }}" class="btn btn-danger">Centers</a>
                </div>
                {% if count > 0 %}
                    <div class="row myPlayers">
                        {{ render(controller('AppBundle:MyPlayers:players')) }}
                    </div>
                {% else %}
                    <div class="text-center">
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-circle"></i>
                            NO PLAYERS AVAILABLE.
                        </div>
                        <div class="alert alert-warning">
                            <i class="fas fa-cubes"></i>
                            <a href="{{ path('pack.opening') }}">GO OPEN SOME PACKS !</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    <script>
        var currentPage = 0;
        var previousPage = $("#previous-page");
        var loading = $('.loading');
        var allPlayers = {{ count }};
        var nextPage = $('#next-page');

        previousPage.prop("disabled", true);

        nextPage.click(function () {
            currentPage = currentPage + 1;
            previousPage.prop("disabled", false);
            if (currentPage > allPlayers) {
                nextPage.prop("disabled", true);
            }
            $.ajax({
                url: '{{ path('players.next') }}',
                type: 'POST',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').append(success);
                }
            });
        });
        previousPage.click(function () {
            currentPage = currentPage - 1;
            if (currentPage == 0) {
                previousPage.prop("disabled", true);
            }
            nextPage.prop("disabled", false);
            $.ajax({
                url: '{{ path('players.previous') }}',
                type: 'POST',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').empty().append(success);
                }
            });
        });
    </script>

    <script>
        is_processing = false;
        last_page = false;
        var currentPage = 0;
        function addMoreElements() {
            currentPage = currentPage + 1;
            is_processing = true;
            $.ajax({
                type: "POST",
                //FOS Routing
                url: '{{ path('players.next') }}',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (data) {
                    $('.myPlayers').append(data);
                    is_processing = false;
                    if (currentPage * 9 > {{ count }}) {
                        last_page = true;
                    }
                }
            });
        }

        $(window).scroll(function () {
            var wintop = $(window).scrollTop(), docheight = $(document).height(), winheight = $(window).height();
            //Modify this parameter to establish how far down do you want to make the ajax call
            var scrolltrigger = 1;
            if ((wintop / (docheight - winheight)) >= scrolltrigger) {
                //I added the is_processing variable to keep the ajax asynchronous but avoiding making the same call multiple times
                if (last_page === false && is_processing === false) {
                    addMoreElements();
                }
            }
        });
    </script>
{% endblock %}