{% extends 'base.html.twig' %}

    {% block header %}
        <h1>Mon 5 Majeur</h1>
    {% endblock header %}

{% block body %}
    <section id="about">
        <div class="container">
            <h1>
                All My Players
                <span>
                <a href="{{ path('user.players.guard') }}" class="btn btn-primary">Guards</a>
                <a href="{{ path('user.players.forward') }}" class="btn btn-info">Forwards</a>
                <a href="{{ path('user.players.center') }}" class="btn btn-danger">Centers</a>
                </span>
            </h1>
            <div class="row myPlayers">
                {{ render(controller('AppBundle:MyPlayers:players')) }}
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination">
                        <button class="btn btn-info" id="previous-page">Previous</button>
                        &nbsp
                        <button class="btn btn-info" id="next-page">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var currentPage = 0;
        var previousPage = $("#previous-page");
        var loading = $('.loading');
        var allPlayers = {{ count }};
        var nextPage = $('#next-page');

        previousPage.prop("disabled", true);

        nextPage.click(function () {
            currentPage = currentPage + 1;
            previousPage.prop("disabled", false);
            if(currentPage > allPlayers) {
                nextPage.prop("disabled", true);
            }
            $.ajax({
                url: '{{ path('players.next') }}',
                type: 'POST',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').empty().append(success);
                }
            });
        });
        previousPage.click(function () {
            currentPage = currentPage - 1;
            if (currentPage == 0) {
                previousPage.prop("disabled", true);
            }
            nextPage.prop("disabled", false);
            $.ajax({
                url: '{{ path('players.previous') }}',
                type: 'POST',
                data: 'page=' + currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').empty().append(success);
                }
            });
        });
    </script>
{% endblock %}