<div>
    <ul class="list-unstyled">
        {% for quizz in allQuizz %}
            <hr/>
        <li>
            <p><u>Type:</u> {{quizz.type}}</p>
            <p><span>Question:</span> {{quizz.question}}</p>
            <p><span>Réponse 1:</span> {{quizz.answer1}}</p>
            {% if(quizz.type == 'QCM') %}
                <p><span>Réponse 2:</span> {{quizz.answer2}}</p>
                <p><span>Réponse 3:</span> {{quizz.answer3}}</p>
                <p><span>Réponse 4:</span> {{quizz.answer4}}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>