{% extends 'base.html.twig' %}

{% block header %}
    Edit {{ team.name }}
{% endblock header %}

{% block body %}

    <section id="connexion_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>
                        <a href="{{ path('team.new') }}">Retour</a>
                    </p>
                    <img src="{{ asset('images/teams/' ~ team.slugTeam ~ '.svg') }}" alt="{{ team.name }}" width="200px">

                    {{ form_start(form, { 'action': path('team.edit', {'id': team.id}) }) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.slugTeam, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.conference, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.division, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.state, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.town, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.stadium, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.isTop, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="{{ 'Edit Team'|trans }}" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>

{% endblock body %}