
<div class="row">
    {% for key,pack in packs %}
        <div class="{{ pack.class }} col-md-3"
             id="{{ key }}">
            <img src="{{ asset('images/packs/' ~ key ~'.jpg') }}" alt="">
                        <span class="pack-name">
                            <p class="{{ key }}">{{ pack.name }}</p>
                        </span>
        </div>
    {% endfor %}
</div>
<script>
    var loading = $('.loading');

    $('.pack').click(function () {
        $.ajax({
            url: '{{ path('ajax.pack.opening') }}',
            type: 'POST',
            data: 'type=' + $(this).attr('id'),
            beforeSend: function () {
                loading.show();
            },
            complete: function () {
                loading.hide();
            },
            success: function (success) {
                var packContent = $('.pack-content');
                var userPoints = $('#user_points');
                var packList = $('.pack-list');
                var duplicatePlayers = $('.duplicate-players');
                packContent.empty(); userPoints.empty(); packList.empty(); duplicatePlayers.empty();

                packContent.append(success.packContent); userPoints.append(success.points);
                packList.append(success.packList); duplicatePlayers.append(success.duplicatePlayers);
                $('html, body').animate({
                        scrollTop: $(document).height()-$(window).height()},
                    1000,
                    "swing"
                );
            }
        });
    });
</script>