{% if centers|length > 0 %}
    <div class="row">
        {% for player in centers %}
            <div class="col-md-4 c" id="c-{{ player.playerId }}">
                {% include 'starting5/players/player.html.twig' with {'player': player} %}
            </div>
            <script>
                $('#c-{{ player.playerId }}').click(function(){
                    var cForm = $("#form_center option:selected");
                    cForm.val({{ player.playerId }});
                    selectedC = cForm.val();
                    name = '{{ player.firstname }} {{ player.lastname }}';
                    $("#c-selected").empty().append(name);
                    $('.c').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        0 Centers Available
    </div>
{% endif %}