{% if guards|length > 0 %}
    <div class="row">
        {% for player in guards %}
            <div class="col-md-4 pg" id="pg-{{ player.playerId }}">
                {% include 'starting5/players/player.html.twig' with {'player': player} %}
            </div>
            <script>
                $('#pg-{{ player.playerId }}').click(function () {
                    var pgForm = $("#form_pointGuard option:selected");
                    pgForm.val({{ player.playerId }});
                    selectedPg = pgForm.val();
                    name = '{{ player.firstname }} {{ player.lastname }}';
                    $("#pg-selected").empty().append(name);
                    $('.pg').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        0 Guard Available
    </div>
{% endif %}