<h1>Point Guards available</h1>
<label for="form_pointGuard" class="required">Select My Point Guard</label>
<select id="form_pointGuard" name="form[pointGuard]">
    {% for userDivision in userDivisions %}
        {% for team in userDivision.division.team %}
            {% if team.isTop %}
                {% if team.id in userTopTeams %}
                    {% if team.pointGuards|length > 0 %}
                        {% for pg in team.pointGuards %}
                            <option value="{{ pg.id }}">{{ pg.fullname }}</option>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if team.pointGuards|length > 0 %}
                    {% for pg in team.pointGuards %}
                        <option value="{{ pg.id }}">{{ pg.fullname }}</option>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</select>
{% for userDivision in userDivisions %}
    <div class="row">
        {% for team in userDivision.division.team %}
            <div class="col-md-4 text-center">
                <img src="{{ asset('images/teams/' ~ team.slugTeam ~ '.svg') }}"
                     alt="{{ team.name }}" width="100px">
                {% if team.isTop %}
                    {% if team.id in userTopTeams %}
                        {% if team.centers|length > 0 %}
                            {% for pg in team.pointGuards %}
                                <div>
                                    #{{ pg.shirtNumber }} - {{ pg.fullname }}
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No Point Guards available for this team</p>
                        {% endif %}
                    {% else %}
                        <p>Lock Team</p>
                    {% endif %}
                {% else %}
                    {% if team.centers|length > 0 %}
                        {% for pg in team.pointGuards %}
                            <div>
                                #{{ pg.shirtNumber }} - {{ pg.fullname }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No Point Guards available for this team</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}