{% if forwards|length > 0 %}
    <div class="row">
        {% for player in forwards %}
            <div class="col-md-4 pf" id="pf-{{ player.playerId }}">
                {% include 'starting5/players/player.html.twig' with {'player': player} %}
            </div>
            <script>
                $('#pf-{{ player.playerId }}').click(function(){
                    var pfForm = $("#form_powerForward option:selected");
                    pfForm.val({{ player.playerId }});
                    selectedPf = pfForm.val();
                    name = '{{ player.firstname }} {{ player.lastname }}';
                    $("#pf-selected").empty().append(name);
                    $('.pf').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        0 Forward Available
    </div>
{% endif %}