{% if guards|length > 0 %}
    <div class="row">
        {% for player in guards %}
            <div class="col-md-4 sg" id="sg-{{ player.playerId }}">
                {% include 'starting5/players/player.html.twig' with {'player': player} %}
            </div>
            <script>
                $('#sg-{{ player.playerId }}').click(function(){
                    var sgForm = $("#form_shootingGuard option:selected");
                    sgForm.val({{ player.playerId }});
                    selectedSg = sgForm.val();
                    name = '{{ player.firstname }} {{ player.lastname }}';
                    $("#sg-selected").empty().append(name);
                    $('.sg').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        0 Guard Available
    </div>
{% endif %}