{% if forwards|length > 0 %}
    <div class="row">
        {% for player in forwards %}
            <div class="col-md-4 sf" id="sf-{{ player.playerId }}">
                {% include 'starting5/players/player.html.twig' with {'player': player} %}
            </div>
            <script>
                $('#sf-{{ player.playerId }}').click(function(){
                    var sfForm = $("#form_smallForward option:selected");
                    sfForm.val({{ player.playerId }});
                    selectedSf = sfForm.val();
                    name = '{{ player.firstname }} {{ player.lastname }}';
                    $("#sf-selected").empty().append(name);
                    $('.sf').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        0 Forward Available
    </div>
{% endif %}