{% extends 'base.html.twig' %}

{% block header %}
    <h2>Edit {{ player.firstname }} {{ player.lastname }}</h2>
{% endblock header %}

{% block body %}

        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>
                        <a href="{{ path('team.new') }}">Retour</a>
                    </p>

                    {{ form_start(form, { 'action': path('player.edit', {'id': player.id}) }) }}
                    <div class="form-group">
                        {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.shirtNumber, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.team, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.position, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.nbaDebut, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.born, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.state, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.height, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.weight, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.fGPercentage, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.threePointsPercentage, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.fTPercentage, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.PPG, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.RPG, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.APG, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.BPG, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="{{ 'Edit Player'|trans }}" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

{% endblock body %}