{% extends 'base.html.twig' %}

    {% block header %}
        <h1>Mon 5 Majeur</h1>
    {% endblock header %}

{% block body %}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>My 5IVE <a href="{{ path('user.team.new') }}" class="btn btn-primary">
                            {% if userTeams|length > 0 %}
                                Create Another 5IVE
                            {% else %}
                                Create My First 5IVE
                            {% endif %}
                        </a>
                    </h2>
                    <hr>
                    {% if userTeams|length > 0 %}
                        <div class="col-md-6">
                            {% for team in userTeams %}
                                <h2>{{ team.name }}</h2>
                                <p>Coach: {{ team.trainerId.fullName }}</p>
                                <p>Stadium: {{ team.stadiumId.name }}</p>
                                <ul>
                                    <li>PG: {{ team.pointGuard.fullName }}</li>
                                    <li>SG: {{ team.shootingGuard.fullName }}</li>
                                    <li>SF: {{ team.smallForward.fullName }}</li>
                                    <li>PF: {{ team.powerForward.fullName }}</li>
                                    <li>C: {{ team.center.fullName }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="alert alert-danger">
                            NO 5IVE AVAILABLE
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}