{% extends 'base.html.twig' %}

    {% block header %}
        <h1>Create My Team</h1>
    {% endblock header %}

{% block body %}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, { 'action': path('user.team.new')}) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.stadiumId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.trainerId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <!-- POINT GUARDS -->
                    {% include 'starting5/dashboard/positions/pointGuards.html.twig' with {'guards':guards} %}
                    <!-- SHOOTING GUARDS -->
                    {% include 'starting5/dashboard/positions/shootingGuards.html.twig' with {'guards':guards} %}
                    <!-- SMALL FORWARDS -->
                    {% include 'starting5/dashboard/positions/smallForwards.html.twig' with {'forwards':forwards} %}
                    <!-- POWER FORWARDS -->
                    {% include 'starting5/dashboard/positions/powerForwards.html.twig' with {'forwards':forwards} %}
                    <!-- CENTERS -->
                    {% include 'starting5/dashboard/positions/centers.html.twig' with {'centers':centers} %}
                    <div class="form-group">
                        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}