{% extends 'base.html.twig' %}

    {% block header %}
        Create My Team
    {% endblock header %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{ form_start(form, { 'action': path('user.team.new')}) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.stadiumId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.trainerId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {% include 'starting5/dashboard/teams/select.html.twig'
                    with {'guards': guards, 'forwards': forwards, 'centers': centers, 'gCount': gCount, 'fCount': fCount, 'cCount': cCount} %}
                    <div class="row">
                        <div class="form-group col-md-12">
                            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    <script>
        var currentPagePg = 0;
        var currentPagePf = 0;
        var currentPageSf = 0;
        var currentPageSg = 0;
        var currentPageC = 0;
    </script>
{% endblock %}