<div class="myTeams-container text-center">
    <h2 class="title">{{ team['data']['name'] }}</h2>
    <a href="{{ path('user.team.edit', {'id': team['data']['id'] }) }}" class="btn btn-warning edit">Edit this 5IVE</a>
    <div>
        <span class="badge badge-default">Head coach</span> <span class="badge badge-primary">{{ team['data']['trainer'].fullName }}</span>
        <span class="badge badge-default">Stadium</span> <span class="badge badge-dark">{{ team['data']['stadium'].name }}</span>
        <span class="badge badge-default">Team Rating</span> <span class="badge badge-danger">{{ team['data']['teamRating'] }}</span>
        <span class="badge badge-default">Offensive Rating</span> <span class="badge badge-warning">{{ team['data']['offRating'] }}</span>
        <span class="badge badge-default">Defensive Rating</span> <span class="badge badge-warning">{{ team['data']['defRating'] }}</span>
    </div>
    <div class="d-flex-players">

        {% set player = team['players']['pointGuard'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}


        {% set player = team['players']['shootingGuard'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}

        {% set player = team['players']['smallForward'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}



        {% set player = team['players']['powerForward'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}


        {% set player = team['players']['center'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}

    </div>
</div>