<div class="myTeams-container text-center">
    <h2 class="title">{{ team['data']['name'] }}</h2>
    <a href="{{ path('user.team.edit', {'id': team['data']['id'] }) }}" class="btn btn-warning edit">Edit this 5IVE</a>

    <div class="details-grid">
        <div class="item"><p class="text">Entraîneur</p><i class="far fa-user"></i><span class="text"><span class="badge badge-dark">{{ team['data']['trainer'].fullName }}</span></span></div>
        <div class="item"><p class="text">Stade</p><img src="{{ asset('images/stadium.png') }}" alt=""><span class="text"><span class="badge badge-dark">{{ team['data']['stadium'].name }}</span></span></div>
        <div class="item "><p class="text">Rating global</p><i class="far fa-star"></i> <span class="text"><span class="badge badge-danger">{{ team['data']['teamRating'] }}</span></span></div>
        <div class="item"><p class="text">Rating offensive</p><img src="{{ asset('images/sword.png') }}" alt=""><span class="text"><span class="badge badge-warning">{{ team['data']['offRating'] }}</span></span></div>
        <div class="item"><p class="text">Rating defensive</p><i class="fas fa-shield-alt"></i><span class="text"><span class="badge badge-warning">{{ team['data']['defRating'] }}</span></span></div>
    </div>
    <div class="d-flex-players">

        {% set player = team['players']['pointGuard'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}


        {% set player = team['players']['shootingGuard'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}

        {% set player = team['players']['smallForward'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}



        {% set player = team['players']['powerForward'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}


        {% set player = team['players']['center'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}

    </div>
</div>