<div class="myTeams-container">
    <h2 class="title">{{ team['data']['name'] }}</h2>
    <a href="{{ path('user.team.edit', {'id': team['data']['id'] }) }}" class="btn btn-info edit">Edit this 5IVE</a>
    <div class="d-flex-players">

        {% set player = team['players']['pointGuard'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}


        {% set player = team['players']['shootingGuard'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}

        {% set player = team['players']['smallForward'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}



        {% set player = team['players']['powerForward'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}


        {% set player = team['players']['center'] %}
        {% include 'starting5/players/player.html.twig' with {'player': player} %}

    </div>
    <div class="details-grid">
        <div class="item">
            <i class="far fa-user"></i><span class="text">{{ team['data']['trainer'].fullName }}</span>
        </div>
        <div class="item"><img src="{{ asset('images/stadium.png') }}" alt=""><span class="text">{{ team['data']['stadium'].name }}</span></div>
        <div class="item "><i class="far fa-star"></i> <span class="text">{{ team['data']['teamRating'] }}</span></div>
        <div class="item"><img src="{{ asset('images/sword.png') }}" alt=""><span class="text">{{ team['data']['offRating'] }}</span></div>
        <div class="item"><i class="fas fa-shield-alt"></i><span class="text">{{ team['data']['defRating'] }}</span></div>
    </div>
</div>